<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>Priteshkumar Patel</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iOS Distribution: POSSIBLE Mobile</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.moxdroid.UpgradeUpsell</key>
		<string>628de97a-7d1e-43e8-909e-e3ef3e782021</string>
	</dict>
</dict>
</plist>
