<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>Zahra Shahin</string>
	<key>distribution</key>
	<string>export</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>ca.zahra.golnaz.UpgradeUpsell</key>
	<string>XCode Managed Profile</string>
	<key>iOS Team Provisioning Profile: ca.zahra.golnaz.UpgradeUpsell</key>
	<string>00008103-0002186A1147C01E</string>
	<key>provisioningProfiles</key>
	<dict/>
</dict>
</plist>
