<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ExportOptions.plist
   UpgradeUpsell

   Created by zahra SHAHIN on 2023-11-15.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
    <key>signingCertificate</key>
    <string>0BB3CB2A1044DB3250F479A023225FAE90220B47</string>
-->
<plist version="1.0">

<dict>
    <key>method</key>
    <string>development</string> <!-- or 'app-store', 'ad-hoc', 'enterprise' -->
    <key>teamID</key>
    <string>zahra shahin</string> <!-- Your Apple Developer Team ID -->
    <!-- Signing certificate, usually 'iPhone Developer' for development -->
    <key>signingStyle</key>
<string>automatic</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>ca.zahra.golnaz.UpgradeUpsell</key> <!-- Your app's bundle identifier -->
        <string>00008103-0002186A1147C01E</string>
    </dict>
</dict>
</plist>
